deploy/node_modules
deploy/bower_components
deploy/public/js/lib
deploy/public/js/br
deploy/app/br
deploy/lib
deploy/.tscache
deploy/public/app/config
deploy/app/.baseDir.js
deploy/public/js/.baseDir.js
src/.baseDir.ts
underdesk.sublime-workspace
