#set( $count = 0 )
<div each="i${classname.toLowerCase()} in $data" data-indx="{$index}" class="tilecell list-group-item col-xs-12 col-sm-4 col-md-4">
#foreach ($campo in $classe.campo)
#if($campo.campo=="id")
  <h4 class="list-group-item-heading">
    <span class="badge">{i${classname.toLowerCase()}.id}</span>
  </h4>
#else
  <p class="list-group-item-text">${campo.dsCampo}: i${classname.toLowerCase()}.{${campo.campo.toCamelCase()}}</p>
#end
#set( $count = $count+1 )
#end
</div>
