#set( $count = 0 )
var ${classe.getNome()}ItemRender = new Class({
${tab}"Extends":js.underas.controller.ListViewItemRender
${tab},"initialize":function(p_obj){						
${tab}${tab}var htmlTmp = '';
#foreach ($campo in $classe.getAllCampos())
#if($count==1&&!$campo.isFk())
${tab}${tab}htmlTmp += '<h4>'+p_obj.${campo.getColuna()}+'</h4>';
#elseif(!($campo.isFk()))
${tab}${tab}htmlTmp += '<p class="list-group-item-text">${campo.getDsCampo()}:'+p_obj.${campo.getColuna()}+'</p>'; 
#end
#set( $count = $count+1 )
#end
${tab}${tab}this.parent('div',htmlTmp);
${tab}${tab}this.getEle().addClass("col-xs-6 col-sm-4 col-md-4");
${tab}${tab}}
${tab}});


var $classe.getNome() = new Class({
${tab}"Extends":js.underas.container.ModWindow
#foreach ($campo in $classe.getAllCampos())
${tab},"it${campo.getColunaCapitalize()}":null	 
#end
${tab},"initialize":function(){
${tab}${tab}this.parent("$classe.getNome()");
${tab}${tab}this.setRevision("$Revision: 1 $");		
#foreach ($campo in $classe.getAllCampos())		
#set( $campotuput = 'InputText("")' )
#if($campo.getTipo()=="Date")
#set( $campotuput = 'DatePicker()' )		#elseif($campo.getTipo()=="int"&&$campo.getColuna()!=$classe.getPrimaryKey().getColuna()&&!$campo.isFk())
#set( $campotuput = 'NumericStepper(0)' )
#elseif($campo.getLimite()>250)
#set( $campotuput = 'TextArea("")' )
#elseif($campo.isFk()&&$campo.getColuna()!=$classe.getPrimaryKey().getColuna())
#set( $campotuput = 'Select("'+${campo.getFkService()}+'")' )
#elseif($campo.getTipo()=="BigDecimal"||$campo.getTipo()=="float")
#set( $campotuput = 'InputMoney(0)' )
#end

${tab}${tab}this.it$campo.getColunaCapitalize() = new js.underas.controller.${campotuput};
#if($campo.isFk()&&$campo.getColuna()!=$classe.getPrimaryKey().getColuna())
${tab}${tab}this.it${campo.getColunaCapitalize()}.setColumn("@${campo.getColuna()}");
${tab}${tab}this.it${campo.getColunaCapitalize()}.setLabel("${campo.getDsCampo().toLowerCase()}");
${tab}${tab}this.it${campo.getColunaCapitalize()}.setValueField("${campo.getFkService()}");
${tab}${tab}this.it${campo.getColunaCapitalize()}.setLabelField("${campo.getFkService()}");
#elseif($campo.getColuna()==$classe.getPrimaryKey().getColuna())
#if($classe.getTpTemplate()=="NODE_SCHEMA")
${tab}${tab}this.it${campo.getColunaCapitalize()}.setColumn("$_id");
#else
${tab}${tab}this.it${campo.getColunaCapitalize()}.setColumn("$${campo.getColuna()}");
#end
${tab}${tab}this.it${campo.getColunaCapitalize()}.setLabel("cod.");
${tab}${tab}this.it${classe.getPrimaryKey().getColunaCapitalize()}.setEnable(false);	
#else
${tab}${tab}this.it${campo.getColunaCapitalize()}.setColumn("@${campo.getColuna()}");
${tab}${tab}this.it${campo.getColunaCapitalize()}.setLabel("${campo.getDsCampo().toLowerCase()}");
#end
${tab}${tab}this.it${campo.getColunaCapitalize()}.setSize(2);
${tab}${tab}this.append(this.it${campo.getColunaCapitalize()});		
#end		
		
${tab}${tab}this.mainList = new js.underas.controller.ListView("$classe.getNome()");
${tab}${tab}this.mainList.setItemRender("${classe.getNome()}ItemRender");
${tab}${tab}this.mainTb = new js.underas.net.ToolBar({"domain":"${classe.getDominio().toLowerCase()}/${classe.getNome().toLowerCase()}"});
${tab}${tab}this.append(this.mainTb);
${tab}${tab}this.append(this.mainList);
${tab}}
${tab},"onStart":function(){
#foreach ($campo in $classe.getAllCampos())
#if($campo.getColuna()!=$classe.getPrimaryKey().getColuna()&&$campo.isFk())
${tab}${tab}this.it${campo.getColunaCapitalize()}.fromService(".business.BLL.get");
#end
#end
${tab}${tab}//this.mainTb.reloadItens();
${tab}}
});

