module.exports = function(app) {
${tab}app.get("/${classe.getDominio().toLowerCase()}/${classe.getNome().toLowerCase()}",function(req, res){
${tab}${tab}app.controllers.${classe.getNome().toLowerCase()}.get(
${tab}${tab}${tab}function(dta){
${tab}${tab}${tab}${tab}res.json(dta);
${tab}${tab}${tab}}
${tab}${tab}${tab},function(erro){
${tab}${tab}${tab}${tab}res.status(500).json(erro);
${tab}${tab}${tab}}
${tab}${tab});		
${tab}}).delete("/${classe.getDominio().toLowerCase()}/${classe.getNome().toLowerCase()}/:_id",function(req, res){	
${tab}${tab}app.controllers.${classe.getNome().toLowerCase()}.delete(req.params._id,
${tab}${tab}${tab}function(dta){
${tab}${tab}${tab}${tab}res.send(dta);
${tab}${tab}${tab}}
${tab}${tab}${tab},function(erro){
${tab}${tab}${tab}${tab}res.status(500).json(erro);
${tab}${tab}${tab}}
${tab}${tab});		
${tab}}).post("/${classe.getDominio().toLowerCase()}/${classe.getNome().toLowerCase()}",function(req, res){	
${tab}${tab}app.controllers.${classe.getNome().toLowerCase()}.insert(req.body,
${tab}${tab}${tab}function(dta){
${tab}${tab}${tab}${tab}res.send(dta);
${tab}${tab}${tab}}
${tab}${tab}${tab},function(erro){
${tab}${tab}${tab}${tab}res.status(500).json(erro);
${tab}${tab}${tab}}
${tab}${tab});		
${tab}}).put("/${classe.getDominio().toLowerCase()}/${classe.getNome().toLowerCase()}",function(req, res){	
${tab}${tab}app.controllers.${classe.getNome().toLowerCase()}.update(req.body,
${tab}${tab}${tab}function(dta){
${tab}${tab}${tab}${tab}res.send(dta);
${tab}${tab}${tab}}
${tab}${tab}${tab},function(erro){
${tab}${tab}${tab}${tab}res.status(500).json(erro);
${tab}${tab}${tab}}
${tab}${tab});		
${tab}});
};
