#set( $count = 0 )
var mongoose = require("mongoose");
module.exports = function(){
${tab}var Schema = mongoose.Schema;
${tab}var schema = new Schema({
#foreach ($campo in $classe.getAllCampos())
#if($classe.getPrimaryKey().getColuna()!=$campo.getColuna())
${tab}${tab}#if($count > 0), #end"${campo.getColuna()}":{
${tab}${tab}${tab}type:#if($campo.getTipo()=="int")
Number
#else
$campo.getTipo()
#end
${tab}${tab}${tab},required:true
${tab}${tab}}
#set( $count = $count + 1 )	 
#end
#end
${tab}});
${tab}return mongoose.model("${classe.getNome()}",schema);
};
