#set( $classname = ${classe.dsTabela.toCamelCase().toCapitalCase()} )
import sequelize = require("../../../../config/sequelizedb");
#set( $count = 0 )
var ${classname}AR = sequelize.define('${classe.dsTabela}', {
#foreach ($campo in $classe.campo)
#if($campo.campo!=$classe.chavePrimaria)
	#if($count > 0),#end"${campo.campo.toCamelCase()}":{
		field:"${campo.campo}"
		,type:sequelize.constructor.#if($campo.tipo=="int")INTEGER#elseif($campo.tipo=="varchar")STRING#else${campo.tipo.toUpperCase()}#end
	}
	#set( $count = $count+1 )
#end
#end
},{
	"timestamps":false
	,"freezeTableName":true
});

//Relacionamento Exemplo
//PedidoAR.belongsTo(ClienteAR, { as: 'cliente', foreignKey: 'id_cliente' });

export = ${classname}AR;
