#set( $count = 0 )
export interface I${classe.dsTabela.toCamelCase().toCapitalCase()}{
#foreach ($campo in $classe.campo)
#if($campo.campo==$classe.chavePrimaria)
	${campo.campo}?:number;
#else
	${campo.campo.toCamelCase()}:#if($campo.tipo=="int"||$campo.tipo=="float"||$campo.tipo=="decimal"||$campo.tipo=="real")number;#elseif($campo.tipo=="Date")Date;#else string;#end
#end
#end
}
