#set( $classname = ${classe.dsTabela.toCamelCase().toCapitalCase()} )
import {ModWindow} from "../../../../lib/container";
import {InputText,InputMoney,DatePicker,Select,CheckBox,NumericStepper,ListView,ItemView} from "../../../../lib/controller";
import {I${classname}} from "../model/I${classname}";
import {ToolBar,RequestManager,IDefaultRequest} from "../../../../lib/net";

@ItemView("assets/html/${classname.toLowerCase()}.html")
export class ${classname} extends ModWindow{
#foreach ($campo in $classe.campo)
#set( $campotuput = 'InputText' )
#if($campo.tipo=="Date")
#set( $campotuput = 'DatePicker' )		#elseif($campo.tipo=="int"&&$campo.campo!=$classe.getPrimaryKey().getColuna()&&!$campo.isFk())
#set( $campotuput = 'NumericStepper' )
#elseif($campo.limite()>250)
#set( $campotuput = 'TextArea' )
#elseif($campo.isFk()&&$campo.campo!=$classe.getPrimaryKey().getColuna())
#set( $campotuput = 'Select' )
#elseif($campo.tipo=="BigDecimal"||$campo.tipo()=="float")
#set( $campotuput = 'InputMoney' )
#end
 it${campo.campo}:$campotuput;	 
#end
 mainTb:ToolBar;
 mainList:ListView;
 constructor(){
  super("${classname}");
  this.setRevision("$Revision: 1 $");	
  this.setSize(12);	
  this.mainTb = new ToolBar({"domain":"${classname.toLowerCase()}"});
  this.append(this.mainTb);
	
#foreach ($campo in $classe.campo)		
#set( $campotuput = 'InputText("")' )
#if($campo.tipo=="Date")
#set( $campotuput = 'DatePicker()' )		#elseif($campo.tipo=="int"&&$campo.campo!= $classe.chavePrimaria &&!$campo.isFk())
#set( $campotuput = 'NumericStepper(0)' )
#elseif($campo.getLimite()>250)
#set( $campotuput = 'TextArea("")' )
#elseif($campo.isFk()&&$campo.campo!=$classe.chavePrimaria)
#set( $campotuput = 'Select("'+${campo.getFkService()}+'")' )
#elseif($campo.tipo=="BigDecimal"||$campo.tipo=="float")
#set( $campotuput = 'InputMoney("0")' )
#end

  this.it$campo.toCamelCase().toCapitalCase() = new ${campotuput};
#if($campo.campo!=$classe.chavePrimaria)
  this.it${campo.toCamelCase().toCapitalCase()}.setColumn("@${campo.campo}");
  this.it${campo.toCamelCase().toCapitalCase()}.setLabel("${campo.dsTabela.toLowerCase()}");
  this.it${campo.toCamelCase().toCapitalCase()}.setValueField("${campo.getFkService()}");
  this.it${campo.toCamelCase().toCapitalCase()}.setLabelField("${campo.getFkService()}");
#elseif($campo.campo==$classe.chavePrimaria)
  this.it${campo.campo.toCamelCase().toCapitalCase()}.setColumn("$${campo.campo}");
  this.it${campo.campo.toCamelCase()}.setLabel("cod.");
  this.it${campo.campo.toCamelCase()).toCamelCase().toCapitalCase()}.setEnable(false);
#end
  this.it${campo.campo.toCamelCase()}.setSize(2);
  this.append(this.it${campo.campo.toCamelCase()});		
#end		
		
  this.mainList = new ListView("${classname}");
  this.append(this.mainList);
 }
 onStart():void{
#foreach ($campo in $classe.campo)
#if($campo.campo!="id")
  this.it${campo.campo.toCamelCase()}.fromService({
   "url":"${campo.dsCampo.toLowerCase()}/"
  });
#end
#end
  //this.mainTb.reloadItens();
 }
}

