#set( $count = 0 )
export interface I${classe.dsTabela}{
#foreach ($campo in $classe.campo)
#if($campo.campo=="id")
	_id?:number;
#else
	${campo.campo}:#if($campo.tipo=="int"||$campo.tipo=="float")number;#elseif($campo.tipo=="Date")Date;#else${campo.tipo.toLowerCase()};#end
#end
#end
}