import express = require('express');
import {Get,Post,Put,Delete,Controller} from "../../../../lib/router";
import {${classe.getNome()}DAO} from "../model/${classe.getNome().toLowerCase()}";
import {I${classe.getNome()}} from "../model/I${classe.getNome()}";


@Controller()
class ${classe.getNome()}{
	@Get()
	get(req:express.Request,res:express.Response):void{
		${classe.getNome()}DAO.find({}).exec().then(
			function(dta:I${classe.getNome()}[]){
				res.json(dta);
			}
			,function(err){
				res.status(400).json(err);
			}
		);
	}
	@Post()
	add(req:express.Request,res:express.Response):void{
		var n${classe.getNome().toLowerCase()}:I${classe.getNome()} = <I${classe.getNome()}>req.body;
		${classe.getNome()}DAO.create(n${classe.getNome().toLowerCase()}).then(
			function(p_n${classe.getNome().toLowerCase()}:I${classe.getNome()}){
				res.json(p_n${classe.getNome().toLowerCase()}._id);
			}
			,function(error:any){
				if(error){
					res.status(400).json(error);
				}
			}
		);
	}
	@Put()
	atualizar(req:express.Request,res:express.Response):void{
		var p_${classe.getNome().toLowerCase()}:I${classe.getNome()} = <I${classe.getNome()}>req.body;
		var tmpId:string = p_${classe.getNome().toLowerCase()}._id;
		delete p_${classe.getNome().toLowerCase()}._id;		
		${classe.getNome()}DAO.findByIdAndUpdate(tmpId,{$set:p_${classe.getNome().toLowerCase()}},function(err){
			if(err){
				res.status(400).json(err);
			}else{
				res.send(true);
			}
		});
	}
	@Delete("/:_id")
	delete(req:express.Request,res:express.Response):void{
		${classe.getNome()}DAO.findByIdAndRemove(req.params._id).exec().then(
			function(){
				res.send(true);
			}
			,function(err:any) {
				res.status(400).json(err);
			}
 		);
	}
}
