#set( $classname = ${classe.dsTabela.toCamelCase().toCapitalCase()} )
import server = require('restify');
import {Get,Post,Put,Delete,Controller} from "../../../../lib/router";
import ${classname}AR = require("../model/${classname.toLowerCase()}");
import {I${classname}} from "../model/I${classname}";


@Controller()
class ${classname}{
	@Get()
	get(req:server.Request,res:server.Response):void{
		${classname}AR.findAll().then(
			function(dta:I${classname}[]){
				res.json(dta);
			}
		).catch(function(err: any) {
			res.status(400)
			res.json(err);
		});
	}
	@Post()
	add(req:server.Request,res:server.Response):void{
		var n${classname.toLowerCase()}:I${classname} = <I${classname}>req.body;
		${classname}AR.create(n${classname}).then(
			function(p_n${classname.toLowerCase()}:I${classname}){
				res.json(p_n${classname.toLowerCase()});
			}
			,function(error:any){
				if(error){
					res.status(400).json(error);
				}
			}
		).catch(function(err:any) {
			res.status(400);
			res.json(err);
		});
	}
	@Put()
	atualizar(req:server.Request,res:server.Response):void{
		var n${classname.toLowerCase()}: I${classname} = <I${classname}>req.body;
		${classname}AR.upsert(n${classname.toLowerCase()}).then(function(p_n${classname.toLowerCase()}: I${classname}) {
			res.send(p_n${classname.toLowerCase()});
		}).catch(function(err:any) {
			res.status(400);
			res.json(err);
		});
	}
	@Delete("/:_id")
	delete(req:server.Request,res:server.Response):void{
 		${classname}AR.destroy({
			where: {
				id:req.params._id
			}
		}).then(function(){
			res.send(true);
		}).catch(function(err:any) {
			res.status(400);
			res.json(err);
		});
	}
}
